<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itheima.reggie.mapper.DishMapper">

    <select id="pageDishDto" resultType="com.itheima.reggie.dto.DishDto">
        /*categoryName封装到dto中，所以名字要相同*/
        select d.*, c.name categoryName
        from reggie.dish d,
        reggie.category c
        where d.category_id = c.id
        <if test="name != null and name != ''">
            and d.name like concat('%', #{name}, '%')
        </if>
    </select>

    <!--自定义结果集封装映射（一对多封装）-->
    <resultMap id="dishDtoResultMap" type="com.itheima.reggie.dto.DishDto" autoMapping="true">

        <!--一对一的映射
          property表示的是DishDto中的属性
          column表示sql语句查询的列名字
          */-->
          <result property="id" column="id"/>
          <result property="name" column="name"/>
          <result property="categoryId" column="category_id"/>
        <!--多的一方
          property表示的是DishFlavor中的属性
        -->
        <collection property="flavors" ofType="com.itheima.reggie.pojo.DishFlavor">
            <result property="id" column="df_id"/>
            <result property="dishId" column="id"/>
            <result property="name" column="df_name"/>
            <result property="value" column="df_value"/>
        </collection>

    </resultMap>
    <!--根据id查询菜品详情信息（包含口味数据）-->
    <select id="getDishByIdWithFlavor" resultMap="dishDtoResultMap">
        select d.*,
               d.id df_id,
               df.name df_name,
               df.value df_value
        from reggie.dish d
                 left join reggie.dish_flavor df on d.id = df.dish_id
        where d.id = #{id}
    </select>



    <select id="listDishDto" resultMap="dishDtoResultMap">
        select d.*,
               d.id df_id,
               df.name df_name,
               df.value df_value
        from reggie.dish d
                 left join reggie.dish_flavor df on d.id = df.dish_id
        <where>
            d.status = 1
            <if test="categoryId != null">and d.category_id = #{categoryId} </if>
            <if test="name != null and name!=' '">and d.name like concat('%','#{name}','%')</if>
        </where>
    </select>
</mapper>













